##########################################################
## Folders                                              ##
##########################################################
BuildDatas
venv
.idea
__pycache__
build
dist
conf


##########################################################
## Files                                              ##
##########################################################

*.spec
*.log
*.json
*.csv